body {
  background-color: #8fc1b5;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.title {
  padding: 40px;
  display: block;
  margin: auto;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.App {
  background-color: #589a8d;
  min-height: 500px;
  width: 400px;
  margin: auto;
  border-radius: 5px;
}

#to-do-form input {
  background-color: #007566;
  border: 0;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#to-do-form input:focus {
  outline: none;
}
#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #146551;
  cursor: pointer;
  font-weight: bold;
  color: #e0e0e0;
}
#to-do-form button:focus {
  outline: none;
}
